@page "/BookDetails"
@page "/BookDetails/{id:int}"
@using Models
@using Services
@inject IBookService BookService
@inject NavigationManager NavigationManager

<h3>BookDetails</h3>

<Editform Model="@book">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <td>Title</td>
                <td><input class="form-control" col-sm-4 type="text" @bind="book.Title" /></td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input class="form-control" col-sm-4 type="text" @bind="book.Author" /></td>
            </tr>
            <tr>
                <td>Release Date</td>
                <td><input class="form-control" col-sm-4 type="text" @bind="book.RealeaseDate" /></td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-primary" type="submit" value="Save" @onclick="SaveBook" />
                    <input class="btn btn-primary" type="button" value="Cancel" @onclick="Cancel"/>
                </td>
            </tr>
        </thead>
    </table>

</Editform>

@code {
    [Parameter]
    public int id{get;set;}
    protected override async Task OnInitializedAsync()
    {
        if(id!=0)
        {
            book= await BookService.GetBookById(id);
        }
    }

    private Book book = new Book();
    protected async Task SaveBook()
    {
        await BookService.SaveBook(book);
        NavigationManager.NavigateTo("/");
    }
    protected void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}
